@inject NavigationManager _navigationManager
@inject IConfiguration _configuration
@inject IStringLocalizer<App> _localizer

@if (cultures != null)
{
    <form class="form-inline">
        <select class="form-control mr-2" @bind="selectedCulture">
            <option>@_localizer["Select..."]</option>
            @foreach (var item in cultures)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
        <button class="btn btn-outline-primary" @onclick="RequestCultureChange">@_localizer["Change"]</button>
    </form>
}


@code {
    private string selectedCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    private Dictionary<string, string> cultures;

    protected override void OnInitialized()
    {
        cultures = _configuration.GetSection("Cultures")
         .GetChildren().ToDictionary(x => x.Key, x => x.Value);
    }

    private void RequestCultureChange()
    {
        if (string.IsNullOrEmpty(selectedCulture))
        {
            return;
        }

        var uri = new Uri(_navigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);

        var query = $"?culture={Uri.EscapeDataString(selectedCulture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        _navigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }
}
