@inherits LayoutComponentBase
@inject IStringLocalizer<App> _localizer
 
<div class="page">
    <div class="main">
        <div class="top-row px-4 auth">
             <span class="pr-2" style="color:blue">@_localizer["Site Language"]</span><ChooseLanguage />
            <LoginDisplay />           
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>