@page "/conscription-home"
@layout ConscriptionLayout
@inject IStringLocalizer<App> _localizer
@inject NavigationManager _navigationManager
@inject IConfiguration _configuration
@inject IStringLocalizer<App> _localizer
@attribute [Authorize(Roles = "Conscription")]

<nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-md-3">
            <li class="breadcrumb-item active" aria-current="page">@_localizer["Conscription Home"]</li>
        </ol>
  </nav>

@code {
  

    protected override void OnInitialized()
    {
       

    }
      
 
}
